absl-py==0.15.0
aiocontextvars==0.2.2
astunparse==1.6.3
beautifulsoup4==4.9.3
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
chardet==3.0.4
clang==5.0
contextvars==2.4
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.0
h5py==3.1.0
idna==2.8
immutables==0.19
importlib-metadata==4.8.3
joblib==1.1.1
keras==2.6.0
Keras-Preprocessing==1.1.2
loguru==0.6.0
lxml==4.6.2
Markdown==3.3.7
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
pandas==1.0.0
protobuf==3.18.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.22.0
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==0.24.2
scipy==1.5.4
six==1.15.0
soupsieve==2.3.2.post1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-addons==0.14.0
tensorflow-cpu==2.6.1
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.1.0
typeguard==2.13.3
typing-extensions==3.7.4.3
urllib3==1.25.11
Werkzeug==2.0.3
wrapt==1.12.1
zipp==3.6.0
